@import url('../../../res/typogramic/typogramic.css');
@import url('../masterVarial.css');

.component_content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.component_collaps_content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: #F4F4F4;
    /* overflow: hidden; */
}

/* components-collaps */
.component_collaps_containert {
    width: 100%;
    height: 30px;
    /* background */
    background-color: #9686C3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* components filter */

.component_filter_containert {
    width: 100%;
    height: 50px;
    background-color: #eff1fc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.component_filter_containert_filtOptions {
    width: 80%;
    height: 50px;
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* overflow-x: scroll; */
    overflow-y: hidden;

    padding-left: 20px;
    padding-right: 10px;
    /* background-color: aqua; */
}

.component_filter_containert_filtOptions:last-child {
    margin-right: 0px;
}

.component_filter_containert_filtOptions::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.component_filter_containert_filtOptions::-webkit-scrollbar-thumb {
    width: 5px;
    background: linear-gradient(185deg, rgba(150, 134, 195, 1) 0%, rgba(150, 134, 195, 1) 36%, rgba(239, 203, 75, 1) 100%, rgba(105, 78, 78, 1) 120%);
    border-radius: 20px;
}

.component_filter_containert_filtButtons {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.component_filter_containert_filtButtons_button {
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary);
    margin-right: 20px;
    border-radius: 17.5px;
    color: white;
}

/* components search */
.component_content_search {
    width: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.component_search_containert {
    width: auto;
    max-width: 100%;
    height: 26px;
    /* background */
    background-color: white;
    /* aling */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border */
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-secundary);
}

.component_search_input {
    margin-left: 20px;
    margin-right: 10px;
    border: 0px solid transparent;
    font-size: 14px;
    width: 100%;
    outline: none;
    color: var(--color-text-secundary);
}

.component_search_boton_seach {
    width: 26px;
    height: 26px;
    /* aling */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.component_search_boton_seach_icon {
    color: var(--color-secundary);
    font-size: 14px;
}

.component_search_input_combofilter {
    height: 50px;
    display: flex;
    flex: 1;
    max-width: 20%;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    margin-right: 5px;
    /* background-color: aqua; */
}

.component_search_input_combofilter_liner {
    height: 50px;
    width: 2px;
    background-color: black;
}


/* comoponent collaps */
.component_collaps_header {
    width: 100%;
    height: 40px;
    background-color: #9686C3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component_collaps_header_title {
    width: 100%;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}

.component_collaps_header_actioncolap {
    height: 40px;
    width: 40px;
    /* icon */
    display: flex;
    align-items: center;
    justify-content: center;
}

.component_collaps_header_icon {
    font-size: 20px;
    color: white;
}

.component_selector_options_content {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.component_selector_options_subcontent {
    position: absolute;
    width: 150px;
    height: auto;
    background-color: #F4F4F4;
    left: -175px;
    border-radius: 10px;
    top: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding-left: 5px;
    padding-right: 10px;
}

.component_collaps_Selector_content {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px;
}

.component_collaps_Selector_icon_content {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.component_collaps_Selector_icon_item {
    color: rgba(0, 0, 0, 0.5);
}

.component_collaps_Selector_text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    min-height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.component_collaps_body {
    background-color: #F4F4F4;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.component_collaps_body_item {
    background-color: #F4F4F4;
    height: 40px;
    width: 100%;
    /* centrar el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component_collaps_body_content {
    height: 100%;
    width: 90%;
    /* aling */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /*-------------------*/
    background: #F4F4F4;
}

.component_collaps_body_item_title {
    padding-left: 5px;
    color: #9686C3;
    font-size: 15px;
    width: 100%;
    /* aling */
    display: flex;
    align-items: center;
    justify-content: start;
}

.component_collaps_body_item_liner {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.component_collaps_body_item_content_icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component_collaps_body_item_icon {
    font-size: 20px;
    color: #9686C3;
}

/* component modal */

.component-icon-list-tabs:last-child {
    margin-right: 0px;
}

/* component modal floating */


/* ------------------------------------------------------------ Menu bar */

/* .container_Menubar{
    width: 100%;
    height: 80px;
    background-color: #9686C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container_Menubar_heard_title{
    margin-left: 10px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    background-image: url("../../../res/img/logolearning.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container_Menubar_icon{
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.container_Menubar_body{
    background-color: rgba(150,134,195,0.8);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
}

.container_Menubar_body_head{
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container_Menubar_icon_close{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

.container_Menubar_body_item_header_activate{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_body_item{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #9686C3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_body_item_activate{
    width: 100%;
    height: 40px;
    background-color: #9686C3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_body_item{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #9686C3;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .container_Menubar_body_item{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.container_Menubar_body_item_header_icon{
    width: 80px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_header_color{
    color: white;
}

.container_Menubar_body_item_header_title{
    width: 100%;
}

.container_Menubar_body_item_body{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
} */
/* curpo flotante */

/* .container_Menu_bodyfloat_item_body{
    position: absolute;
    background-color: red;
    width: 250px;
    height: auto;
    right: -110%;

} */

/* --------------- */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.component_botton_container_content_invert {
    font-size: 15px;
    width: auto;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #9686C3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #9686C3;
    text-overflow: ellipsis;
}

.component_botton_container_content_invert:hover {
    font-size: 15px;
    height: 20px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9686C3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-overflow: ellipsis;
}

.component_botton_container_content {
    font-size: 15px;
    height: 20px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9686C3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-overflow: ellipsis;
}

.component_botton_container_content:hover {
    font-size: 15px;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #9686C3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #9686C3;
    text-overflow: ellipsis;
}

.component_botton_container {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    text-overflow: ellipsis;
}

/* Components botton chips */

.component-item-chips-activate {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 15px;
    border-radius: 20px;
    background: #9686C3;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.component-item-chips {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-radius: 20px;
    background: white;
    color: #9686C3;
    border-color: #9686C3;
    border-width: 1px;
    border-style: solid;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.component-icon-list-chips {
    color: #9686C3;
}

.component-item-chips-photo {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.component-item-chips-action {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component-item-chips-action-icon {
    color: #9686C3;
    font-size: 14px;
}

.component-item-chips-action-icon-activate {
    color: white;
    font-size: 14px;
}

.component-item-chips-label-active {
    color: white;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component-item-chips-label {
    color: #9686C3;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 500px) {
    .component_modalPrin_container {
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .component_modalFloting_container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .component_filter_containert_filter_title {
        display: none;
    }

    .component_searchfilter_content {
        width: 100%;
        /* background-color: red; */
    }

    .component_modalFloting_header_title {
        font-size: 24px;
        line-height: 26px;
    }
}