.container_addadmin{
    width: 100px;
}

.container_addadmin_descripccion{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.container_ItemAdmin_conten_actions_item{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_ItemAdmin_conten_actions_iconedit{
    color: #3D9AFF;
    font-size: 25px;
}