.form_conteiner_seletItem {
    /* background-color: aqua; */
    /* background-color: red; */
    width: 90% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: calc(10% / 2) !important;
    /* margin-right: 20px!important;
     */
}

.form_seletItem_conteiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.form_seletItem_conteiner_buttton {
    height: 34px;
    width: 34px;
    background-color: #9686C3;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_seletItem_input_conteiner {
    width: 100% !important;
    /* height: 40px !important; */
    /* aling */
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white !important;
    /* border */
    border-radius: 15px !important;
    border-color: #9686C3 !important;
    border-style: solid !important;
    border-width: 1px !important;
    /* posicion */
    position: relative;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.form_seletItem_conteiner_itemScelecciont {
    border: 0px solid transparent !important;
    outline: none !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container_item_selectItem_contentItem {
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    height: 24px;
    border-radius: 12.5px;
    background-color: rgba(150, 134, 195, 0.65);
}

.container_seletItem_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container_seletItem_text {
    font-size: 14px;
    text-align: center;
}

.form_seletItem_conteiner_itemScelecciont_textdefault {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.container_item_selectItem_subcont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_item_selectItem_subcontaion_photo_cont {
    width: auto;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_item_selectItem_subcontaion_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    width: 20px;
    height: 20px;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.container_item_selectItem_subcontaion_nametext {
    font-size: 14px;
    color: white;
    text-align: center;
}

.container_item_selectItem_subcontaion_close {
    /* background-color: red; */
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}