@import url('../../../../../../../../.././../../service/morvius-service/masterVarial.css');


.Container_ItemActivosProces_conten_Pri {
    width: 100%;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.Container_ItemActivosProces_conten_secondary {
    width: 98%;
    height: auto;
    min-height: 40px;
    background-color: var(--color-backgraud);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.Container_ItemActivosProces_conten_secondary_seleccion {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container_ItemActivosProces_conten_secondary_seleccion_radio {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container_ItemActivosProces_conten_secondary_seleccion_radio.active>div {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-secundary);
}

.Container_ItemActivosProces_conten_secondary_seleccion_conten_information {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Container_ItemActivosProces_conten_secondary_seleccion_Infor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
}

.Container_ItemActivosProces_conten_InfoData_primary {
    color: var(--color-secundary);
    font-size: 16px;
    font-weight: 600;
    text-overflow: initial;
}

.Container_ItemActivosProces_conten_InfoData_secundary {
    color: var(--color-text-secundary);
    font-size: 14px;
    text-overflow: initial;
}

/* .Container_ItemActivosProces_conten_InfoData_secundary {
    color: var(--color-text-secundary);
} */

/* .Container_ItemActivosProces_conten_secondary_seleccion_suInfor {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
} */

/* .Container_ItemActivosProces_conten_InfoData_Descrip {
    color: var(--color-text-secundary);
} */

@media (max-width: 600px) {
    .Container_ItemActivosProces_conten_secondary_seleccion_suInfor {
        display: none;
    }

    .Container_ItemActivosProces_conten_secondary_seleccion_conten_information {
        justify-content: flex-start;
    }
}