@import url('../../../masterVarial.css');

.form_conteiner_seletItem {
    /* background-color: aqua; */
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    /* margin-right: 20px!important;
     */
}

.form_seletItem_conteiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form_seletItem_conteiner_buttton {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-secundary);
    margin-left: 10px;
}

.form_seletItem_conteiner_buttton_icon {
    font-size: 14px;
    margin-left: 3px;
    color: white;
}

.form_seletItem_input_conteiner {
    width: calc(100% - 36px) !important;
    /* height: 16px !important; */
    height: 28px;
    /* aling */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    /* border */
    border-radius: 13.5px !important;
    border-color: var(--color-secundary) !important;
    border-style: solid !important;
    border-width: 1px !important;
    /* posicion */
    position: relative;
}

.form_seletItem_conteiner_itemScelecciont {
    border: 0px solid transparent !important;
    outline: none !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container_item_selectItem_contentItem {
    /* margin-left: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    height: 24px;
    border-radius: 12.5px;
    background-color: var(--color-secundary)
}

.container_seletItem_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container_seletItem_text {
    font-size: 14px;
    text-align: center;
}

.form_seletItem_conteiner_itemScelecciont_textdefault {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.container_item_selectItem_subcont {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding-left: 2px;
}

.container_item_selectItem_subcontaion_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    width: 20px;
    height: 20px;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.container_item_selectItem_subcontaion_nametext {
    font-size: 14px;
    color: white;
    text-align: center;
}

/* ----------------------------------------------- */

.Container_FormSelectItem_principal_master {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.Container_FormSelectItem_principal {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Container_FormSelectItem_subContainer_information {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container_FormSelectItem_subContainer_information_value {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: flex-start;
    margin-bottom: 2px;
    color: var(--color-master);
}

.Container_FormSelectItem_subContainer_information_placeholder {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.4);
}

.Container_FormSelectItem_subContainer_bottonEdit {
    height: 36px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Container_FormSelectItem_subContainer_bottonEdit_botonEdit {
    width: 24px;
    height: 24px;
    background-color: rgba(55, 93, 129, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.Container_FormSelectItem_subContainer_bottonEdit_botonEdit_actic {
    width: 24px;
    height: 24px;
    background-color: white;
    border-color: var(--color-secundary);
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.Container_FormSelectItem_subContainer_bottonEdit_botonEdit_icon {
    font-size: 12px;
    color: var(--color-secundary);
}

.Container_FormSelectItem_subContainer_bottonEdit_botonEdit_actic>.Container_FormSelectItem_subContainer_bottonEdit_botonEdit_icon {
    font-size: 14px;
    color: var(--color-secundary);
}