.container_restare_nota{
    width: 120px;
    background-color: transparent;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container_restare_nota_cont{
    width: 120px;
    background-color: white;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}