@import url('../../../../../../../res/typogramic/typogramic.css');

/* .icon_card_NuestroEquipo{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.container-carcurso-NuestroEquipo{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-perspective: 800;
    perspective: 800;
    margin-bottom: 20px;
    margin-right: 10px;
}

.carcurso-NuestroEquipo-contentcarcursot-body{
    position: relative;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carcurso-NuestroEquipo-frond, .carcurso-NuestroEquipo-back{
    padding: 10px 20px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    
}

.carcurso-NuestroEquipo-frond{
    padding: 0px;
    border-radius: 20px;
}

.carcurso-NuestroEquipo-frond-body{
    border-radius: 20px;
    background-color: #cfcfcf;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carcurso-NuestroEquipo-titulo{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #856fc5;
    color: white;
}

.carcurso-NuestroEquipo-action{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
}

.carcurso-NuestroEquipo-action-item{
    width: 35px;
    height: 35px;
    background-color: white;
    border-color: #856fc5;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carcurso-NuestroEquipo-action-item-icon{
    color: #856fc5;
    font-size: 20px;
}

.carcurso-NuestroEquipo-name{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: white;
    z-index: 10;
}

.carcurso-NuestroEquipo-subname{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    z-index: 12;
}

.carcurso-NuestroEquipo-name-shadow{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0), rgba(63,49,100,0.8));
    bottom: 0;
    width: 100%;
    height: 200px;
}

.carcurso-NuestroEquipo-back{
    background-color: rgba(133,111,197,0.7);
    border-radius: 20px;
    display: none;
    z-index: 999;
}

.carcurso-NuestroEquipo-contentcarcurso-body:hover > .carcurso-NuestroEquipo-back{
    display: flex;
}

.carcurso-NuestroEquipo-item{
    text-align: center;
    color: white;
}

.carcurso-NuestroEquipo-back >.carcurso-NuestroEquipo-item{
    text-align: center;
    color: #856fc5;
}


@media (max-width: 500px) {
    
    .container-car-NuestroEquipo {
        margin-right: 10px;
    }

    .container-car-NuestroEquipo:last-child {
        margin-right: 0px;
    }
} */

.content_cardCurso {
    padding: 5px 10px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin-right: 14px;
    margin-bottom: 14px;
    position: relative;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_cardCurso_shadow {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(12, 9, 23, 0.2);
    margin-right: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.content_cardCurso_subcontent {
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin-right: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    /* configuracion de contenedor */
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_cardCurso_header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

.content_cardCurso_body {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

.content_cardCurso_body_content_text {
    width: calc(100% - 10px);
    height: auto;
    border-radius: 15px;
    background-color: rgba(133, 111, 197, 0.3);
    color: white;
    padding: 5px 5px;
    font-family: Poppins-regular;
    font-weight: 500;
    margin-bottom: 15px;
}

.content_cardCurso_header_actions {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    /* border-color: brown; */
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}