.container_restare_nota{
    width: auto;
    background-color: transparent;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container_restare_nota_cont{
    width: auto;
    background-color: white;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 12px;
}