@import url('../../../../masterVarial.css');
/* Contenedor principal del Menu */

/* ------------------------------------------------------------------------------------------- Header Menu */
.container_Menubar {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container_Menubar_heard_title {
    margin-left: 10px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    background-image: url("../../../../../../res/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container_Menubar_icon_container {
    margin-left: 15px;
}

.container_Menubar_icon {
    font-size: 25px;
    color: var(--color-secundary);
    margin-right: 10px;
}

/* ------------------------------------------------------------------------------------------- Body Menu */
.container_Menubar_body {
    display: none;
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
}

.container_Menubar_body_head {
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container_Menubar_icon_close {
    font-size: 25px;
    color: var(--color-secundary);
    margin-left: 10px;
}

/* Contenedor de items de submenu */

.container_Menubar_body_item_header_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

.container_Menubar_body_item_header_subcontent {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.container_Menubar_body_item_header {
    width: 4px;
    height: 35px;
    background-color: rgba(174, 168, 186, 0.3);
    border-radius: 0.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 10px;
}

.container_Menubar_body_item_header_activate {
    width: 4px;
    height: 35px;
    background-color: var(--color-secundary);
    border-radius: 0.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 10px;
}

.container_Menubar_body_item_header_icon {
    width: 80px;
    height: 50px;
    background-color: transparent;
    /* component collaps item header */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_header_title {
    width: 100%;
    color: var(--color-secundary);
    margin-left: 10px;
}

.container_Menubar_body_item_header_color {
    color: var(--color-secundary);
    /* display: flex;
    align-items: center;
    justify-content: start; */
}

.container_Menubar_body_item_body {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.container_Menubar_body_item_body_item_content {
    width: 100%;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_body_item {
    width: 90%;
    height: 35px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_body_item_body_item:hover {
    border-radius: 17.5px;
    background-color: rgba(174, 168, 186, 0.3);
}

.container_Menubar_body_item_body_item>.container_Menubar_body_item_body_item_icon {
    width: 50px;
    height: 50px;
    /* component collaps item header */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-secundary);
}

.container_Menubar_body_item_body_item>.container_Menubar_body_item_body_item_label {
    width: calc(100% - 50px);
    height: 40px;
    color: var(--color-secundary);
    font-family: Poppins-regular;
    /* font-weight: 600; */
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container_Menubar_body_item_body_item_activate {
    width: 90%;
    height: 35px;
    background-color: var(--color-secundary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17.5px;
}

.container_Menubar_body_item_body_item_activate>.container_Menubar_body_item_body_item_icon {
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.container_Menubar_body_item_body_item_activate>.container_Menubar_body_item_body_item_label {
    width: calc(100% - 50px);
    height: 40px;
    color: white;
    font-family: Poppins-regular;
    /* font-weight: 600; */
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container_Menubar_imagePerfil {
    width: 40px;
    height: 40px;
    background-color: var(--color-backgraud);
    margin-right: 15px;
    border-radius: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.container_Menubar_loginUsername {
    height: 45px;
    width: 150px;
    background-color: var(--color-backgraud);
}

.container_Menubar_Perfil_container {
    width: 350px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999999999;
    top: 55px;
    right: 14px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 3px var(--color-master-shadow), 0 1px 2px var(--color-master-shadow);
}

.container_Menubar_Perfil_container_header {
    width: calc(100% - 12px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2fc;
    margin: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 12.5px;
}

.container_Menubar_Perfil_container_header_close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    display: none;
    padding: 10px;
}

.container_Menubar_Perfil_container_header_close_container {
    height: 30px;
    width: 30px;
    background-color: blueviolet;
}

.container_Menubar_Perfil_container_header_close_icon {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.container_Menubar_Perfil_container_header_photo_container {
    width: 15%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_Perfil_container_header_photo {
    height: 40px;
    width: 40px;
    background-color: var(--color-backgraud);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container_Menubar_Perfil_container_header_informat_container {
    width: calc(75% - 15px);
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.container_Menubar_Perfil_container_header_informat_correo {
    width: 100%;
    font-size: 14px;
    color: var(--color-master);
    font-weight: 600;
}

.container_Menubar_Perfil_container_header_informat_user {
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.container_Menubar_Perfil_container_header_lineBorder {
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.container_Menubar_Perfil_container_body_item {
    min-height: 30px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_Perfil_container_body {
    min-height: 40px;
    margin: 5px;
    width: 95%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_Perfil_container_body:hover {
    background-color: var(--color-backgraud);
}

.container_Menubar_Perfil_container_body_opccion {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_Perfil_container_body_opccion_photo_container {
    width: 15%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_Perfil_container_body_opccion_photo_subcontainer {
    height: 30px;
    width: 30px;
    background-color: #f0f2fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_Menubar_Perfil_container_body_opccion_photo {
    font-size: 20px;
    color: var(--color-master);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Menubar_Perfil_container_body_opccion_informat_container {
    width: calc(75% - 15px);
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 15px;
}

.container_Menubar_Perfil_container_body_opccion_informat_correo {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}


@media (max-width: 500px) {
    .container_Menubar_body {
        display: block;
    }

    .container_Menubar_Perfil_container {
        width: 100vw;
        position: absolute;
        top: -0px;
        right: -0px;
        border-radius: 0px;
        height: 100vh;
    }

    .container_Menubar_Perfil_container_header_close {
        display: flex;
    }
}