@import url('../../../../../service/morvius-service/masterVarial.css');

.Informat_Container_Tile {
    font-size: 24px;
    color: var(--color-master);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.Informat_Container_lainer {
    height: 1px;
    width: calc(100% - 20px);
    background-color: var(--color-text-secundary_trasparent);
    margin-left: 10px;
    margin-right: 10px;
}

.Informat_Container_Descrip {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-text-secundary);
    text-align: justify;
}

.Informat_Container_Image {
    width: calc(100% - 20px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.Informat_Container_Image_shadow {
    width: calc(100% - 20px);
    background-color: transparent;
    position: absolute;
    left: 10px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Informat_Container_Image_shadow:hover {
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 10px;
    top: 0px;
}

.Informat_Container_Image_master {
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Informat_Container_Image_modal {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}