.container_ItemPreInscr{
    width: 100%;
    height: 60px;
    /* aislin */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_ItemPreInscr_conten{
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border-color: #9686C3;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_ItemPreInscr_conten_itemcourse{
    max-width: 300px;
}

.container_ItemPreInscr_conten_photo_content{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_ItemPreInscr_conten_photo{
    background-color: #9686C3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_ItemPreInscr_conten_actions{
    margin-right: 10px;
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_ItemPreInscr_conten_nameperson{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.container_ItemPreInscr_conten_actions_item{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_ItemPreInscr_conten_actions_icon{
    color: #9686C3;
    font-size: 25px;
}