@import url('../../../service/morvius-service/masterVarial.css');

.container_login {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-backgraud);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_login_subcontent {
    width: auto;
    height: auto;
    min-width: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.container_login_form {
    margin-left: 20px;
    margin-right: 20px;
}

.container_login_title {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #EFCB4B;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_login_logo {
    width: 200px;
    height: 40px;
    margin: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container_title_login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #183152;
}

.container_login_back {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color-secundary);
}

/* .container_login_information {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_login_information_photo {
    height: 90px;
    width: 90px;
    background-color: var(--color-backgraud);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */

.container_login_information_username {
    color: var(--color-secundary);
    font-size: 14px;
}

.container_login_information_correo {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.conteiner_input_data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.conteiner_input_data_item {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner_input_data_space {
    width: 8%;
}

.container_text_bienvenid {
    text-align: justify;
    color: var(--color-text-secundary);
}

@media (max-width: 500px) {
    .conteiner_input_data {
        flex-direction: column;
    }

    .conteiner_input_data_item {
        width: 100%;
    }

    .conteiner_input_data_space {
        height: 5px;
    }
}