.component_modalFloting {
    /* display: none; */
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999999;
}

.component_modalFloting_container {
    height: auto;
    width: 500px;
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.component_modalFloting_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-direction: row; */
    /* color: #9686C3; */
    padding: 10px;
    position: relative;
}

.component_modalFloting_close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 6px;
}

.component_modalFloting_close_icon {
    color: #9686C3;
    font-size: 16px;
}

.component_modalFloting_header_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 46px;
    padding-right: 46px;
}

.component_modalFloting_header_title {
    color: #9686C3;
    width: 90%;
    height: 40px;
    font-size: 24px;
    /* asling contenido al centro */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.component_modalFloting_body {
    width: 100%;
    height: auto;
    min-height: 80px;
    max-height: 90%;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.component_modalFloting_body::-webkit-scrollbar {
    display: none;
}

.component_modalFloting_body_container {
    width: 95%;
    margin: auto;
}

.container_modalFloting_descripccion {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    width: 100%;
    /* background-color: red; */
    font-size: 15px;
    color: #9686C3;
    text-align: center;
}