@import url('../../../masterVarial.css');

.component_modalFloting {
    /* display: none; */
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component_modalFloting_subcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component_modalFloting_container {
    height: auto;
    width: 500px;

    /* position: absolute;
    margin: 50vh auto 0;
    transform: translateY(-50%); */

    /* position the top  edge of the element at the middle of the parent */

    /* position the left edge of the element at the middle of the parent */
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.component_modalFloting_container.active {
    animation: pulse 0.2s linear 1;
}

.component_modalFloting_container.desactive {
    animation: despulse 0.2s linear 1;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes despulse {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
    }
}


.component_modalFloting_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-direction: row; */
    /* color: #9686C3; */
    padding: 10px;
    position: relative;
    margin-top: 10px;
}

.component_modalFloting_close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 6px;
}

.component_modalFloting_close_icon {
    color: #9686C3;
    font-size: 16px;
}

.component_modalFloting_header_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 46px;
    padding-right: 46px;
}

.component_modalFloting_header_title {
    color: #9686C3;
    width: 90%;
    height: 40px;
    font-size: 24px;
    /* asling contenido al centro */
    text-align: center;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.component_modalFloting_body {
    width: 100%;
    height: auto;
    min-height: 80px;
    max-height: 70vh;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.component_modalFloting_body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.component_modalFloting_body::-webkit-scrollbar-thumb {
    width: 5px;
    background: linear-gradient(185deg, rgba(55, 93, 129, 1) 0%, rgba(55, 93, 129, 1) 36%, rgba(171, 200, 226, 1) 100%, rgba(134, 150, 165, 1) 120%);
    border-radius: 20px;
}

.component_modalFloting_body_container {
    width: 95%;
    margin: auto;
}

.container_modalFloting_descripccion {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    width: 100%;
    /* background-color: red; */
    font-size: 15px;
    color: var(--color-text-secundary);
    text-align: center;
}

@media (max-width: 500px) {
    .component_modalFloting_container {
        margin: 0px;
        width: 100vw !important;
    }

    .component_modalFloting_body {
        height: 90vh !important;
        max-height: 100vh;
        /* background-color: #9686C3; */
    }

    /* .component_modalFloting_body_container {
        height: 100vh;
        background-color: #9686C3;
    } */
}