:root {
    --color-master-shadow: rgba(24, 49, 82, 0.3);
    --color-master: #183152;
    --color-secundary: #375D81;
    --color-backgraud: #E1E6FA;
    --color-backgroud2: #C4D7ED;
    --color-backgroud3: #f0f2fc;
    --color-backgroud3: #f0f2fc;
    --color-text-secundary: #81878d;
    --with-submenu: 250px;
    --higth-submenu: calc(100vh - 55px);
}