/* .container_Itemprofesor{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Itemprofesor_conten{
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border-color: #9686C3;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
}

.container_Itemprofesor_conten_photo_content{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Itemprofesor_conten_photo{
    background-color: #9686C3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_Itemprofesor_conten_actions{
    margin-right: 10px;
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_Itemprofesor_conten_nameperson{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.container_Itemprofesor_conten_actions_item{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_Itemprofesor_conten_actions_icon{
    color: #9686C3;
    font-size: 25px;
}

@media (max-width:500px){
    .container_Itemprofesor_conten_nameperson{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: start;
        overflow: hidden;
    }
} */

.content-table-item-encabezado{
    font-family: 'Poppins', sans-serif;
    font-display: auto;
    font-weight: 400;
    color: #5D718F;
}

.content-table-item-encabezado + .lef{
    text-align: start;
}

.content-table-item-encabezado + .cent{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_Itemalumnos_conten_actions_item{
    background-color: transparent;
}

.container_Itemalumnos_conten_actions_icondelect{
    color: #EB6F65;
    font-size: 25px;
}

@media (max-width:500px){
    .content-table-item-encabezado + .ocp{
        display: none;
    }
}
